#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#parent-container{
  width: 94vw;
  display: flex;
  flex-direction: column;
  gap: 20vh;
  border: 3px double whitesmoke;
  text-align: center;
}

#child-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border: 2px double red;
}

.headers{
  text-decoration: underline;
}

.children{
  border: 2px ridge dodgerblue;
  width: 50%;
  height: 400px;
}

.flex{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.card{
  width: 100px;
  height: 120px;
  border: 1px solid goldenrod;
}



